
{% extends 'base/base.html' %}


{% block title %}Initial Setup{% endblock %}

{% block form %}
<form action="/setup-account" method="POST">
    <label for="buildingNumber">Building Number:</label>
    <input type="text" id="buildingNumber" name="buildingNumber" required>

    <label for="apartmentNumber">Apartment Number:</label>
    <input type="text" id="apartmentNumber" name="apartmentNumber" required>

    <label for="password">Set Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Setup Account</button>
</form>

{% endblock %}