
{% extends 'base/base.html' %}


{% block title %}Initial Setup{% endblock %}

{% block form %}
<form action="/setup-account" method="POST">
    <label for="buildingNumber">Block</label>
    <input type="text" id="block" name="block" required>

    <label for="apartmentNumber">Apartment</label>
    <input type="text" id="apartment" name="apartment" required>

    <label for="password">Set Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Setup Account</button>
</form>

{% endblock %}