
{% extends 'baseTemplates/header.html' %}


{% block title %}New Resident{% endblock %}

{% block content %}
<form action="/new" method="post">

    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" required>

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" required>
    
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" required>

    <label for="block">Block</label>
    <input type="text" id="block" name="block" required>

    <label for="apartment">Apartment</label>
    <input type="text" id="apartment" name="apartment" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Create</button>
</form>
{% endblock %}