{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/home.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header class="headerContainer">
        <div class="navWrapper">
            <!-- Navigation Menu -->
            <nav class="navBar">
                <a href="/residents/" class="navLink" data-content="residentContent">Residents</a>
                <a href="/services/" class="navLink" data-content="servicesContent">Services</a>
                <a href="/guests/" class="navLink" data-content="guestLogContent">Guest Log</a>
            </nav>
            <!-- Right-Side Actions -->
            <div class="actionButtons">
                <a class="actionButton newResidentButton" href="new/">+ New Resident</a>
                <a class="actionButton notificationButton">🔔</a>
                <a class="actionButton profileButton">🙍‍♂️</a>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="mainContent" id="mainContent">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>


