body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #2d63b4;
    margin: 0;
    padding: 0;
}

.loginContainer {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label[for="showPass"] {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
input[type="checkbox"] {
    padding-top: 5px;
    margin-right: 10px;
}
@media screen and (max-width: 600px) {
    .loginContainer {
        margin-left: 20px;
        margin-right: 20px;
    }
    form {
        width: 80%;
    }

    input[type="text"],
    input[type="password"],
    button {
        padding: 10px;
        font-size: 14px; /* Smaller text */
    }

    /* Adjust the Show/Hide button */
    .showPassBtn {
        font-size: 12px; /* Smaller button text */
    }
}