{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
</head>
<body>
    <div class="loginContainer">
        <h2>Login</h2>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p style="color: 'red'">{{ message }}</p>
                {% else %}
                    <p style="color: 'green'">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="/login/" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <div class="passwordContainer">
                <input type="password" id="password" name="password" required>
                <button type="button" id="togglePassword" class="showPassBtn">Show</button>
            </div>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="{% static 'accounts/login.js' %}"></script>
</body>
</html>
